* {
  padding: 0;
  margin: 0;
}

#container {
  background-color: rgb(13, 25, 46);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 16px;
}
.analogue-clock {
  background-color: #fff;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  margin-bottom: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(./img/4e8f6206f82e5cdd2d6c339d68fb5818.png);
  background-size: cover;
}
.analogue-clock::before {
  content: "";
  position: absolute;
  background-color: rgb(13, 25, 46);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  z-index: 100;
}
.hour,
.minute,
.seccond {
  position: absolute;
}
.hour,
.hr {
  width: 160px;
  height: 160px;
}
.minute,
.min {
  width: 190px;
  height: 190px;
}
.second,
.sec {
  width: 230px;
  height: 230px;
}
.hr,
.min,
.sec {
  display: flex;
  justify-content: center;
  position: absolute;
  border-radius: 50%;
}
.hr::before {
  content: "";
  position: absolute;
  width: 8px;
  height: 80px;
  background: rgb(46, 46, 46);
  z-index: 11;
  border-radius: 6px 6px 0 0;
}
.min::before {
  content: "";
  position: absolute;
  width: 6px;
  height: 100px;
  background: rgb(83, 83, 83);
  z-index: 12;
  border-radius: 6px 6px 0 0;
}
.sec::before {
  content: "";
  position: absolute;
  width: 3px;
  height: 150px;
  background: rgb(240, 40, 40);
  z-index: 13;
  border-radius: 6px 6px 0 0;
}

.digital-clock {
  border: 3px solid #fff;
  width: 250px;
  height: 60px;
  font-size: 2rem;
  display: grid;
  place-items: center;
  text-align: center;
  font-weight: 900;
  color: #fff;
  font-family: "Orbitron", sans-serif;
}
